In [1]:
!wget http://labfile.oss.aliyuncs.com/courses/1081/challenge-8-seeds.csv

--2018-10-03 21:33:45--  http://labfile.oss.aliyuncs.com/courses/1081/challenge-8-seeds.csv
Resolving labfile.oss.aliyuncs.com (labfile.oss.aliyuncs.com)... 118.178.161.16
Connecting to labfile.oss.aliyuncs.com (labfile.oss.aliyuncs.com)|118.178.161.16|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9098 (8.9K) [text/csv]
Saving to: 'challenge-8-seeds.csv'

     0K ........                                              100%  839K=0.01s

2018-10-03 21:33:46 (839 KB/s) - 'challenge-8-seeds.csv' saved [9098/9098]

In [2]:
import pandas as pd
df = pd.read_csv("challenge-8-seeds.csv")
df.head()

      f1     f2      f3     f4     f5     f6     f7
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175

In [ ]:
#挑战：使用 Scipy 中的 Agglomerative 聚类方法完成小麦种子层次聚类。
#规定：使用 ward 离差平方和法度量相似度，距离计算使用欧式距离。
#提示：Scipy 中的 Agglomerative 聚类方法类为 scipy.cluster.hierarchy.linkage()，阅读官方文档。
from scipy.cluster import hierarchy

### 代码开始 ### (≈ 1 行代码)
Z = None
### 代码结束 ###

In [ ]:
Z[:5]

In [ ]:
#挑战：使用 Scipy 中的 dendrogram 方法绘制小麦种子层次聚类二叉树。     
#提示：Scipy 中绘制层次聚类二叉树的方法为 scipy.cluster.hierarchy.dendrogram()，阅读官方文档。本次挑战使用默认参数即可。
from matplotlib import pyplot as plt
%matplotlib inline

plt.figure(figsize=(15, 8))
### 代码开始 ### (≈ 1 行代码)

### 代码结束 ###
plt.show()

In [ ]:
#挑战：对小麦种子层次聚类二叉树进行修剪。
#提示：修改参数 truncate_mode, p, show_leaf_counts, show_contracted。
plt.figure(figsize=(15, 8))
### 代码开始 ### (≈ 1 行代码)

### 代码结束 ###
plt.show()