In [1]:
# 点击运行下载数据集
#!wget http://labfile.oss.aliyuncs.com/courses/1081/challenge-1-beijing.csv

In [2]:
#挑战：使用 Pandas 加载数据集 CSV 文件，并预览前 5 行数据。
import pandas as pd
df = pd.read_csv("challenge-1-beijing.csv")
df.head()

   公交  写字楼  医院  商场  地铁  学校  小区名字  建造时间    房型  楼层  每平米价格   面积
0  18   18  10   0   2  49  远洋山水  2006  2室1厅  26  60937   96
1  17   42  10   0   4  37   椿树园  1998  3室1厅  14  88686  130
2  18   36   9   0   1  24  永乐小区  1989  3室1厅  18  46621   74
3  15   49  13   0   2  45  主语家园  2007  4室3厅   2  86147  462
4   6    0   0   0   0   0  天伦锦城  2007  1室1厅  13  42500   64

In [3]:
#挑战：对加载完成的数据集进行划分，分割为特征值 features 数据集和目标值 target 数据集
features =df[['公交','写字楼','医院','商场','地铁','学校','建造时间','楼层','面积']]
target = df['每平米价格']
pd.concat([features, target], axis=1).head()

   公交  写字楼  医院  商场  地铁  学校  建造时间  楼层   面积  每平米价格
0  18   18  10   0   2  49  2006  26   96  60937
1  17   42  10   0   4  37  1998  14  130  88686
2  18   36   9   0   1  24  1989  18   74  46621
3  15   49  13   0   2  45  2007   2  462  86147
4   6    0   0   0   0   0  2007  13   64  42500

In [4]:
#挑战：将 features 和 target两个 DataFrame 各划分为 70% 和 30% 的训练集和测试集。
target = df['每平米价格'] # 目标值数据
split_num = int(len(features)*0.7) # 得到 70% 位置
train_x = features[:split_num] # 训练集特征
train_y = target[:split_num] # 训练集目标
test_x = features[split_num:] # 测试集特征
test_y = target[split_num:] # 测试集目标

In [5]:
len(train_x), len(train_y), len(test_x), len(test_y)

(2100, 2100, 900, 900)

In [6]:
#挑战：使用 scikit-learn 建立并训练线性回归模型。
from sklearn.linear_model import LinearRegression

model = LinearRegression() # 建立模型
model.fit(train_x, train_y) # 训练模型
model.coef_, model.intercept_ # 输出训练后的模型参数和截距项

(array([ 6.59398431e+00,  2.99472651e+02,  3.71604272e+02, -2.13162821e-13,
         1.10348032e+03,  4.89315116e+02, -9.52240497e-01,  1.49901912e+00,
         4.11275632e+01]), 39758.9151944912)

In [7]:
model.coef_[:3], len(model.coef_)

(array([  6.59398431, 299.47265083, 371.60427218]), 9)

In [8]:
#挑战：使用 NumPy 实现  MAPEMAPE  计算函数。
#MAPE=sum（|y*-y|*100 / y ） /n ，其中n是样本量，y是实际值，y*是预测值
import numpy as np
def mape(y_true, y_pred):
    n = len(y_true)
    mape = sum(np.abs(y_true - y_pred)*100/y_true)/n
    return mape

In [9]:
y_true = test_y.values
y_pred = model.predict(test_x)
mape(y_true, y_pred)

45.50618854676236